 * {
    margin: 0;
    padding: 0;
}
body {
    background-image: url("../images/background.jpg");
    background-color: rgba(18, 18, 18, .33);
    background-blend-mode: darken;

}
p {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}
/*---------------------------------------
   COMMON STYLES
-----------------------------------------*/
.parallax {
    background-attachment: fixed !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


.home-container {
    padding-top: 10%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
 }

/*---------------------------------------
   SECTION HOME
-----------------------------------------*/
.header h2 {
    height: 0px;
    margin: 0px;
}
.logo{
    padding-bottom: 50px;
}
.home_text{
    text-align: left;
}
.home-iphone{
    text-align: right;
}
.home-iphone img{
    width: 100%;
}

@media (max-width: 768px){
    .home-iphone{
        display: none;
    }
    .home_text{
        text-align: center;
    }

}
.home_text h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 300;
    line-height: 45px;
    padding-top: 30px
}
.home_text p {
    color: #fff;
    font-size: 17px;
    line-height: 28px;
    margin-top: 0px;
    font-weight: 300;
}
.download-btn {
    margin-top: 90px;
    margin-bottom: 50px
}
.home-btn,
.home-btn:focus,
.home-btn:active,
.home-btn:visited {
    background: transparent;
    border-color: #f39c12;
    color: #f39c12;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 19px;
    text-transform: uppercase;
    border-radius: 3px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.home-btn:hover {
    background-color: #f39c12;
    color: #fff;
}
.tuor,
.tuor:focus {
    color: #A9ADB0;
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 500;
    background: transparent;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.tuor:hover {
    color: #fff;
}
.tuor i {
    font-size: 20px;
    padding-left: 5px;
    color: #f39c12;
}
